html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}





:root {
    --main-text-color: #757575;
    --second-text-color: #212121;
    --accent-color: #2196F3;
    --logo-color: #000000;
    --contact-top-color: #757575;
    --contact-bottom-color: rgba(255, 255, 255, 0.6);
    --hero-text-color: #ffffff;
    --button-color: #F5F4FA;
    --second-bg-color: #F5F4FA;
    }

/* globall styles */

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--second-text-color);
}

/* classes */

.container {
    padding: 0px 15px;
    margin: auto;
    width: 1200px;
}

.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
} 

/* header, footer */

header {
    border-bottom: solid 1px #ECECEC;
}

.header-box {
    display: flex;
    margin-bottom: -1px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--logo-color);
    margin-right: 93px;
    display: inline-block;
    padding: 24px 0px;
}

.logo > span {
    color: var(--accent-color);
}

.nav-box {
    display: flex;
}
.nav-list,
.geo-tel-list {
    display: inline-block;
}

.nav-list > li {
    display: inline-block;
}

.nav-list > li + li {
    margin-left: 50px;
}

.geo-tel-list {
    margin-left: auto;
}

.geo-tel-list > li {
    display: inline-block;
}

.geo-tel-list > li + li {
    margin-left: 50px;
}

.link {
    display: inline-block;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    padding: 32px 0;
}

.contact {
    display: inline-block;
    color: var(--contact-top-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding: 32px 0;
}

.link:hover,
.link:focus,
.contact:hover,
.contact:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.geo,
.address-contact {
    color: #ffffff;
    font-weight: 400;
    line-height: 1.71;
}

.address-contact {
    color: var(--contact-bottom-color);
}

.geo:hover,
.geo:focus,
.address-contact:hover,
.address-contact:focus {
    color: var(--accent-color);
}

footer {
    background-color: #2F303A;
}

footer > .container {
    padding: 60px 0;
}

.logo.bottom {
    color: #ffffff;
    margin: 0 0 20px 0;
    padding: 0;
}

address {
    font-style: normal;
}

/* hero */

.hero {
    background-color: #2F303A;
}

.container.hero {
    padding: 200px 0;
    text-align: center;
}

.hero-title {
    margin: 0 auto 30px auto;
    color: var(--hero-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-button {
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    color: var(--hero-text-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus{
    background-color: #188CE8;
}

/* Наши преимущества */

.container.benefits {
    padding: 90px 0px;
}

.benefits-list {
    margin: 0;
    padding: 0;
}

.benefits-title {
    margin: 0;
    color: var(--second-text-color);
    font-weight: 700;
    line-height: 1.14;
}

.benefits-list > li {
    display: inline-block;
    width: calc((100% - 120px)/4);
}

.benefits-list > li + li {
    margin-left: 30px;
}

.benefits-list p {
    margin: 10px 0 0 0;
}

/* Чем мы занимаемся */

.container.work {
    padding: 0 0 94px 0;
}

.work-title {
    margin: 0 0 50px 0;
}

.work-list > li {
    display: inline-block;
}

.work-list > li + li {
    margin-left: 30px;
}

/* команда */

.team {
    background-color: var(--second-bg-color);
}

.container.team {
    padding: 90px 0;
}

.team-title {
    margin: 0 0 50px 0;
}

.team-list > li {
    display: inline-block;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list > li + li {
    margin-left: 30px;
}

.teammember {
    color: var(--second-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.prof {
    color: var(--contact-top-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}



/* portfolio */

.button {
    background-color: var(--button-color);
    color: var(--second-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

.project-name {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}

.project-text {
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.9;
}